<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li class="list-item">Laith Harb</li>
      <li class="list-item">Laith 2</li>
      <li class="list-item">Laith 23</li>
    </ul>
    <form class="add-members-form">
      <input type="text" placeholder="Name">
      <button>Add</button>
    </form>
    <form class="generate-form">
      <input type="text" placeholder="# of teams"/>
      <button>Generate</button>
    </form>
  </div>
</div>
