<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li class="list-item" *ngFor="let member of members">{{member}}</li>
    </ul>
    <form
      (submit)="addMember(teamForm.value.newMemberName)"
      [formGroup]="teamForm"
      class="add-members-form"
    >
      <input
        type="text"
        placeholder="Name"
        formControlName="newMemberName"
        [class.invalid]="teamForm.get('newMemberName')?.invalid && (teamForm.get('newMemberName')?.dirty || teamForm.get('newMemberName')?.touched)"
      >
      <button>Add</button>
    </form>
    <form class="generate-form">
      <input type="text" placeholder="# of teams">
      <button>Generate</button>
    </form>
  </div>
</div>
